@model IEnumerable<ServiceModel>
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "../Shared/_TraineeLayout.cshtml";
}

<!-- SERVICE CONTAINER -->
<div class="search__container">
    <div class="search-item__title">
        <p>CÁC GÓI DỊCH VỤ</p>
        <P>Liên hệ nhân viên phụ trách để đặt mua</P>
    </div>
    <div class="search-item__option">
        <form class="search-option__form">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input name="filter" value="@ViewBag.Filter" type="text" placeholder="Nhập tên dịch vụ">
        </form>
    </div>
</div>
<div class="package__container grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    @foreach (var service in Model)
    {
    <div class="package__item">
        <img class="package-item__img" src="~/Image/Service/@(service.Image ?? "no-image.png")" alt="">
        <div class="package-item__tag">New</div>
        <div class="package__detail">
            <div>
                <p class="package-item__name">@service.Title</p>
                <p class="package-item__des">@service.Description</p>
            </div>
            <div class="package-item__detail">
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                        <p class="package-detail__info">Giá: <span>@string.Format("{0:0,000}", service.Price).Replace(",",".") đ</span></p>
                </div>
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-hourglass-start"></i>
                    </div>
                        <p class="package-detail__info">Bắt đầu vào: <span>@service.StartDate.ToShortDateString()</span></p>
                </div>
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-hourglass-end"></i>
                    </div>
                        <p class="package-detail__info">Kết thúc vào: <span>@service.EndDate.ToShortDateString()</span></p>
                </div>
            </div>
        </div>
    </div>  
    }
</div>

