@using System.Security.Claims
@{
    var activeNav = ViewBag.AdminNav;
    var Name = User.FindFirstValue(ClaimTypes.Name);
    var Avatar = User.FindFirstValue("Avatar");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/combinedUser.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="sidebar__container col-span-1">
            <p class="sidebar__brand">MOGYM</p>
            <div class="sidebar__item">
                <p class="sidebar-item__title">DANH MỤC</p>
                <div class="sidebar-item__menu">
                    <a asp-controller="Home" class="sidebar-menu @(activeNav == "Service" ? "active" : "")">
                        <i class="fa-solid fa-cube"></i>
                        <p>Gói dịch vụ</p>
                    </a>
                    <a asp-controller="Trainer" class="sidebar-menu @(activeNav == "Trainer" ? "active" : "")">
                        <i class="fa-solid fa-user"></i>
                        <p>Huấn luyện viên</p>
                    </a>
                    <a asp-controller="Message" class="sidebar-menu @(activeNav == "Message" ? "active" : "")">
                        <i class="fa-solid fa-user"></i>
                        <p>Tin nhắn</p>
                    </a>
                    <a asp-controller="Feedback" class="sidebar-menu @(activeNav == "Feedback" ? "active" : "")">
                        <i class="fa-solid fa-comment"></i>
                        <p>Đánh giá</p>
                    </a>
                    <a asp-controller="Account" class="sidebar-menu @(activeNav == "Account" ? "active" : "")">
                        <i class="fa-solid fa-user-plus"></i>
                        <p>Tài khoản</p>
                    </a>
                </div>
                <div class="sidebar-item__link">
                    <div>
                        <i class="fa-solid fa-braille"></i>
                        <p style="margin-top: 8px;">
                            GET FIT, STRONG<br>
                            & MOTIVATED
                        </p>
                    </div>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
        </div>

        <div class="main__container col-span-6 xl:col-span-5">

            <div class="navbar__container">
                <div class="navbar__responsive">
                    <label for="navbar-responsive__ckbox" class="navbar-responsive__icon"><i class="fa-solid fa-bars"></i></label>
                    <input hidden type="checkbox" id="navbar-responsive__ckbox" class="navbar-responsive__ckbox">
                    <label for="navbar-responsive__ckbox" class="nav__overlay"></label>
                    <div class="navbar-responsive__item">
                        <a href="/"><p class="navbar-item__title">MOGYM</p></a>
                        <div class="separator-line"></div>
                        <a asp-controller="Home">Dịch vụ</a>
                        <a asp-controller ="Trainer">Huấn luyện viên</a>
                        <a asp-controller="Message">Tin nhắn</a>
                        <a asp-controller="Feedback">Đánh giá</a>
                        <a asp-controller="Account">Tài khoản</a>
                    </div>
                </div>
                <div class="navbar__item">
                    <label for="formUpdateInfo" class="infoForm__btn"><i class="fa-solid fa-ellipsis-vertical"></i></label>
                    @if (Model != null)
                    {
                        <div class="navbar-item__info">
                            <img class="navbar-info__img" src="~/Image/Avatar/" alt="">
                            <div class="navbar-info__detail">
                                <p>@Name</p>
                                <p>Quản trị viên</p>
                            </div>
                        </div>
                    }
                    <a class="navbar-item__logout" asp-area="Default" asp-controller="Home" asp-action="LogOut"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>

                <input hidden type="checkbox" id="formUpdateInfo">
                <label for="formUpdateInfo" class="nav__overlay"></label>
                <form class="formUpSert__form info__form">
                    <p class="formUpSert__title">CẬP NHẬT THÔNG TIN</p>
                    <div class="info-form__detail">
                        <div class="info-detail__title">
                            <p>Tên</p>
                            <p>Số điện thoại</p>
                            <p>Tài khoản gmail</p>
                            <p>Hình ảnh</p>
                        </div>
                        <div class="info-detail__input">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="file">
                        </div>
                    </div>
                    <div class="formUpSert__btn">
                        <button class="" type="submit">Cập nhật</button>
                    </div>
                </form>
            </div>

            @RenderBody()


        </div>
    </div>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
